body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.blue-color{
    color: blueviolet;
}
section{
    display: flex;
}
.half-weidth{
    width: 50%;
}
.half-weidth img{
    width: 60%;
}